body {
    background-color: whitesmoke;
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0;
}

button {
    appearance: none;
    border: 0;
    background-color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 30px;
}

.navbar button img:hover {
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #4E4B46;
    font-size: 0.875rem;
}

.menu-toggle {
    display: none;
}

.menu-modal {
    display: none;
    position: absolute;
    top: 5.4rem;
    right: 1rem;
    width: 15rem;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-modal.show {
    display: block;
}

.menu-modal div {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-modal div li {
    padding: 10px;
}

.menu-modal div li a {
    text-decoration: none;
    color: #333;
    font-size: 0.875rem;
}

.section-1 {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-1 h1 {
    font-size: 4rem;
    background: linear-gradient(to right, #E39700, #FFBE00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 44rem;
    text-align: center;
    font-weight: 600;
}

.section-1 .text {
    text-align: center;
    width: 50rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #4E4B46;
}

.section-1 .group-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.container {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.box-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box-1 div h1 {
    text-align: right;
    color: #E39700;
    font-weight: 600;
    font-size: 2rem;
}

.box-1 div p {
    width: 16rem;
    font-size: 1.25rem;
    color: #4E4B46;
    font-weight: 400;
    text-align: right;
}

.box-2 {
    display: block;
    position: relative;
    top: 10px;
}

.box-3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box-3 div h1 {
    text-align: left;
    color: #E39700;
    font-weight: 600;
    font-size: 2rem;
}

.box-3 div p {
    width: 16rem;
    font-size: 1.25rem;
    color: #4E4B46;
    font-weight: 400;
    text-align: left;
}

.box-4 {
    display: none;
    position: relative;
    top: 10px;
}

.section-2 {
    background-color: #FFBE00;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 div h1 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 3rem;
    font-size: 3rem;
}

.group-itens {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.group-itens .item {
    text-align: center;
    width: 12rem;
}

.group-itens .item p {
    font-weight: 300;
    font-size: 1.25rem;
    color: #4E4B46;
}

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-3 h1 {
    font-weight: 600;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.section-3 p {
    font-size: 1.25rem;
    width: 32rem;
    text-align: center;
    font-weight: 400;
    position: relative;
    color: #4E4B46;
    bottom: 2.5rem;
}

.section-3 form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.section-3 form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 form div input {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.section-3 form div textarea {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    resize: none;
}

.form-button {
    background: linear-gradient(to right, #E39700, #FFBE00);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 8rem;
}

footer .item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .item-2 {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

footer .item-2 button {
    cursor: pointer;
}

footer .item-1 a {
    text-decoration: none;
    color: #4E4B46;
    font-size: 0.875rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .section-3 form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
    }

    .section-3 h1 {
        font-weight: 600;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
    }

    .section-3 p {
        font-size: 1.25rem;
        width: 20rem;
        text-align: center;
        font-weight: 400;
        position: relative;
        color: #4E4B46;
        bottom: 2.5rem;
    }
    
    .section-2 {
        background-color: #FFBE00;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .section-2 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .section-2 div h1 {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        padding-top: 3rem;
        font-size: 2.25rem;
        text-align: center;
        width: 15rem;
    }

    .group-itens {
        padding-left: 2rem;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        gap: 5rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .group-itens .item {
        display: flex;
        text-align: center;
        width: 100%;
        gap: 1.5rem;
    }

    .group-itens .item img {
        width: 6rem;
    }

    .group-itens .item p {
        font-weight: 300;
        font-size: 1.05rem;
        text-align: left;
        width: 12rem;
        color: #4E4B46;
    }
}

@media screen and (max-width: 768px) {
    .section-1 .group-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        gap: 4rem;
    }

    footer .item-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    footer .item-2 {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 0.3rem;
    }
    
    .section-1 h1 {
        font-size: 3rem;
        width: 25rem;
    }

    .section-1 .text {
        width: 23rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        gap: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }

    .box-1 div h1 {
        text-align: center;
        color: #E39700;
        font-weight: 600;
        font-size: 2rem;
    }

    .box-1 div p {
        width: 16rem;
        font-size: 1.25rem;
        color: #4E4B46;
        font-weight: 400;
        text-align: center;
    }

    .box-2 {
        display: none;
    }

    .box-3 div h1 {
        text-align: center;
        color: #E39700;
        font-weight: 600;
        font-size: 2rem;
    }
    
    .box-3 div p {
        width: 16rem;
        font-size: 1.25rem;
        color: #4E4B46;
        font-weight: 400;
        text-align: center;
    }

    .box-4 {
        display: block;
    }
}